@charset "UTF-08";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url(https://fontawesome.com/icons/square-instagram?f=brands&s=solid);

/*Estilo geral do body*/
body {
  width: 100%;
  margin: 0;
  height: 100vh;
  background-color: #050505;
  overflow: hidden;
  position: relative;
}

/*Div redes sociais*/
.redes-sociais {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
  background-color: transparent;
}

.redes-sociais a {
  color: white;
  font-size: 2rem;
  text-decoration: none;
  transition: 0.3s;
}

.redes-sociais a:hover {
  color: #808080;
}

/*Div h1 da header*/
.divName > h1.nameHeader {
  font-family: "Roboto";
  font-size: clamp(1.8em, 4vw, 2.2em);
  padding: 8px;
  margin-right: 20px;
  color: white;
  display: flex;
  justify-content: flex-end;
}

.dev {
  color: rgb(0, 4, 255);
}

.space {
  color: transparent;
}

/*Div container central*/
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  color: white;
}

h1.nameCenter {
  font-size: clamp(2.3rem, 8vw, 5.5rem);
  font-family: "Montserrat", sans-serif;
  letter-spacing: 4px;
  text-transform: uppercase;
  transition: all 0.3s ease;
  max-width: 90%;
  text-align: center;
  white-space: nowrap;
  padding: 10px;
}

/* Botão do menu */
.menu-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 30px;
  color: white;
  cursor: pointer;
  z-index: 1000;
}

/* Menu lateral */
.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #050505;
  color: white;
  transition: 0.3s;
  padding-top: 60px;
  z-index: 999;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 15px;
  text-align: center;
}

.sidebar ul li a {
  font-family: "Roboto";
  color: white;
  text-decoration: none;
  font-size: 20px;
  display: block;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

/* Quando o menu lateral está visível */
.sidebar.active {
  left: 0;
}

.star {
  position: absolute;
  border-radius: 50%;
  background-color: white;
  animation: twinkle 2s infinite ease-in-out;
}

@keyframes twinkle {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

.star1 {
  width: 4px;
  height: 4px;
  top: 5%;
  left: 10%;
  animation-duration: 1.5s;
  opacity: 0.9;
}
.star2 {
  width: 5px;
  height: 5px;
  top: 10%;
  left: 15%;
  animation-duration: 2s;
  opacity: 0.8;
}
.star3 {
  width: 3px;
  height: 3px;
  top: 20%;
  left: 30%;
  animation-duration: 1.7s;
  opacity: 1;
}
.star4 {
  width: 6px;
  height: 6px;
  top: 25%;
  left: 50%;
  animation-duration: 2.5s;
  opacity: 0.6;
}
.star5 {
  width: 5px;
  height: 5px;
  top: 35%;
  left: 60%;
  animation-duration: 2s;
  opacity: 0.85;
}
.star6 {
  width: 4px;
  height: 4px;
  top: 40%;
  left: 75%;
  animation-duration: 1.8s;
  opacity: 0.95;
}
.star7 {
  width: 4px;
  height: 4px;
  top: 50%;
  left: 80%;
  animation-duration: 3s;
  opacity: 0.7;
}
.star8 {
  width: 5px;
  height: 5px;
  top: 55%;
  left: 90%;
  animation-duration: 2.8s;
  opacity: 0.8;
}
.star9 {
  width: 3px;
  height: 3px;
  top: 60%;
  left: 20%;
  animation-duration: 2s;
  opacity: 0.9;
}
.star10 {
  width: 4px;
  height: 4px;
  top: 70%;
  left: 15%;
  animation-duration: 2.2s;
  opacity: 0.6;
}
.star11 {
  width: 3px;
  height: 3px;
  top: 75%;
  left: 40%;
  animation-duration: 1.7s;
  opacity: 0.95;
}
.star12 {
  width: 5px;
  height: 5px;
  top: 85%;
  left: 60%;
  animation-duration: 2.4s;
  opacity: 0.8;
}
.star13 {
  width: 4px;
  height: 4px;
  top: 90%;
  left: 70%;
  animation-duration: 2.6s;
  opacity: 0.75;
}
.star14 {
  width: 3px;
  height: 3px;
  top: 15%;
  left: 80%;
  animation-duration: 1.8s;
  opacity: 0.65;
}
.star15 {
  width: 4px;
  height: 4px;
  top: 40%;
  left: 50%;
  animation-duration: 3s;
  opacity: 0.8;
}

/* Mais estrelas */
.star16 {
  width: 3px;
  height: 3px;
  top: 12%;
  left: 90%;
  animation-duration: 1.9s;
  opacity: 0.85;
}
.star17 {
  width: 4px;
  height: 4px;
  top: 30%;
  left: 35%;
  animation-duration: 2.2s;
  opacity: 0.7;
}
.star18 {
  width: 3px;
  height: 3px;
  top: 20%;
  left: 90%;
  animation-duration: 2.4s;
  opacity: 0.8;
}
.star19 {
  width: 6px;
  height: 6px;
  top: 50%;
  left: 10%;
  animation-duration: 2.7s;
  opacity: 0.9;
}
.star20 {
  width: 4px;
  height: 4px;
  top: 75%;
  left: 50%;
  animation-duration: 2.3s;
  opacity: 0.9;
}
.star21 {
  width: 4px;
  height: 4px;
  top: 5%;
  left: 30%;
  animation-duration: 2s;
  opacity: 0.7;
}
.star22 {
  width: 5px;
  height: 5px;
  top: 40%;
  left: 10%;
  animation-duration: 2.1s;
  opacity: 0.8;
}
.star23 {
  width: 3px;
  height: 3px;
  top: 55%;
  left: 70%;
  animation-duration: 1.9s;
  opacity: 0.85;
}
.star24 {
  width: 6px;
  height: 6px;
  top: 60%;
  left: 45%;
  animation-duration: 2.3s;
  opacity: 0.9;
}
.star25 {
  width: 5px;
  height: 5px;
  top: 80%;
  left: 10%;
  animation-duration: 2.6s;
  opacity: 0.75;
}
.star26 {
  width: 4px;
  height: 4px;
  top: 90%;
  left: 20%;
  animation-duration: 1.9s;
  opacity: 0.7;
}
.star27 {
  width: 5px;
  height: 5px;
  top: 75%;
  left: 50%;
  animation-duration: 2.5s;
  opacity: 0.8;
}
.star28 {
  width: 3px;
  height: 3px;
  top: 10%;
  left: 35%;
  animation-duration: 2.3s;
  opacity: 0.6;
}
.star29 {
  width: 4px;
  height: 4px;
  top: 50%;
  left: 65%;
  animation-duration: 2s;
  opacity: 0.85;
}
.star30 {
  width: 5px;
  height: 5px;
  top: 25%;
  left: 80%;
  animation-duration: 2.8s;
  opacity: 0.7;
}

/* Mais estrelas ainda */
.star31 {
  width: 3px;
  height: 3px;
  top: 40%;
  left: 80%;
  animation-duration: 2.4s;
  opacity: 0.75;
}
.star32 {
  width: 4px;
  height: 4px;
  top: 55%;
  left: 60%;
  animation-duration: 2.5s;
  opacity: 0.9;
}
.star33 {
  width: 5px;
  height: 5px;
  top: 60%;
  left: 15%;
  animation-duration: 2s;
  opacity: 0.8;
}
.star34 {
  width: 4px;
  height: 4px;
  top: 70%;
  left: 85%;
  animation-duration: 2.1s;
  opacity: 0.7;
}
.star35 {
  width: 5px;
  height: 5px;
  top: 80%;
  left: 40%;
  animation-duration: 2.8s;
  opacity: 0.75;
}
.star36 {
  width: 4px;
  height: 4px;
  top: 90%;
  left: 70%;
  animation-duration: 3s;
  opacity: 0.9;
}
.star37 {
  width: 6px;
  height: 6px;
  top: 30%;
  left: 50%;
  animation-duration: 2.4s;
  opacity: 0.65;
}
.star38 {
  width: 3px;
  height: 3px;
  top: 20%;
  left: 5%;
  animation-duration: 2.6s;
  opacity: 0.85;
}
.star39 {
  width: 4px;
  height: 4px;
  top: 50%;
  left: 25%;
  animation-duration: 2.2s;
  opacity: 0.9;
}
.star40 {
  width: 6px;
  height: 6px;
  top: 10%;
  left: 55%;
  animation-duration: 2s;
  opacity: 0.75;
}
.star41 {
  width: 4px;
  height: 4px;
  top: 5%;
  left: 80%;
  animation-duration: 2.4s;
  opacity: 0.7;
}
.star42 {
  width: 5px;
  height: 5px;
  top: 60%;
  left: 10%;
  animation-duration: 2.7s;
  opacity: 0.6;
}
.star43 {
  width: 3px;
  height: 3px;
  top: 80%;
  left: 25%;
  animation-duration: 1.9s;
  opacity: 0.75;
}
.star44 {
  width: 6px;
  height: 6px;
  top: 70%;
  left: 55%;
  animation-duration: 2.1s;
  opacity: 0.9;
}
.star45 {
  width: 5px;
  height: 5px;
  top: 50%;
  left: 40%;
  animation-duration: 3s;
  opacity: 0.7;
}
.star46 {
  width: 4px;
  height: 4px;
  top: 25%;
  left: 15%;
  animation-duration: 2.6s;
  opacity: 0.9;
}
.star47 {
  width: 5px;
  height: 5px;
  top: 35%;
  left: 75%;
  animation-duration: 2.3s;
  opacity: 0.8;
}
.star48 {
  width: 3px;
  height: 3px;
  top: 60%;
  left: 80%;
  animation-duration: 2.4s;
  opacity: 0.6;
}
.star49 {
  width: 5px;
  height: 5px;
  top: 45%;
  left: 55%;
  animation-duration: 2.2s;
  opacity: 0.7;
}
.star50 {
  width: 4px;
  height: 4px;
  top: 30%;
  left: 10%;
  animation-duration: 2.8s;
  opacity: 0.9;
}

/*Estilo footer*/
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  padding: 10px 0;
  text-align: center;
}
